# Rinomina questo file in .env e inserisci i tuoi valori
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=inserisci_qui_la_tua_password_sicura
DB_NAME=progetto_riders

PORT=5000
ABILITA_RESET_DB=True
LISTA_VEICOLI_AMMESSI=auto,moto,scooter,bicicletta,furgone
